set default="0"
set timeout=5

menuentry "PearOS 1 Live (Kernel 7.1.6 + peer! UI)" {
    linux /boot/vmlinuz-7.1.6 boot=live quiet splash nvidia-drm.modeset=1
    initrd /boot/initrd.img-7.1.6
}

menuentry "PearOS 1 (Safe Graphics)" {
    linux /boot/vmlinuz-7.1.6 boot=live nomodeset
    initrd /boot/initrd.img-7.1.6
}
